# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of `JOIN` statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
* Write SQL queries that make use of various types of joins
* Compare and contrast the various types of joins
* Discuss how primary and foreign keys are used in SQL
* Decide and perform whichever type of join is best for retrieving desired data

## CRM Schema

In almost all cases, rather than just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins** using shared columns from the two tables. 

In this lab, you'll use the same customer relationship management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database `'data.sqlite'`.

In [4]:
# Your code here
import sqlite3
import pandas as pd

conn = sqlite3.connect ('data.sqlite')
cur = conn.cursor()

## Display the names of all the employees in Boston 

Hint: join the employees and offices tables.

In [5]:
# Your code here
cur.execute('''SELECT *
               FROM employees
               JOIN offices
               ON employees.officeCode = offices.officeCode
               WHERE ci''')

# Take results and create DataFrame
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df.head()

# cur.execute("""SELECT firstName, lastName 
#                FROM employees 
#                JOIN offices 
#                USING(officeCode) 
#                WHERE city = 'Boston';""")
# df = pd.DataFrame(cur.fetchall())
# df.columns = [i[0] for i in cur.description]
# df.head()

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle,officeCode,city,phone,addressLine1,addressLine2,state,country,postalCode,territory
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,,President,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA
1,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002,VP Sales,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA
2,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1,1002,VP Marketing,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA
3,1088,Patterson,William,x4871,wpatterson@classicmodelcars.com,6,1056,Sales Manager (APAC),6,Sydney,+61 2 9264 2451,5-11 Wentworth Avenue,Floor #2,,Australia,NSW 2010,APAC
4,1102,Bondur,Gerard,x5408,gbondur@classicmodelcars.com,4,1056,Sale Manager (EMEA),4,Paris,+33 14 723 4404,43 Rue Jouffroy D'abbans,,,France,75017,EMEA

## Are there any offices that have zero employees?
Hint: Combine the employees and offices tables and use a group by.

In [10]:
# Your code here
cur.execute('''SELECT *
               FROM employees
               JOIN offices
               ON employees.officeCode = offices.officeCode
               GROUP BY officeCode;''')

# Take results and create DataFrame
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df.head()

# cur.execute("""SELECT o.officeCode, o.city, COUNT(e.employeeNumber) AS n_employees
#                FROM offices AS o 
#                LEFT JOIN employees AS e
#                USING(officeCode)
#                GROUP BY officeCode
#                HAVING n_employees = 0;""")
# df = pd.DataFrame(cur.fetchall())
# df.columns = [i[0] for i in cur.description]
# df

OperationalError: ambiguous column name: officeCode

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary
# Example: Display the htmlDescription and employee's first and last name for each product that each employee has sold

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of every individual product that each employee has sold

In [ ]:
# Your code here

## Level Up: Display the Number of Products each employee has sold

In [ ]:
# Your code here

## Summary

Congrats! You practiced using join statements and leveraged your foreign keys knowledge!